body {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #6e5c62;
}

header {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

p {
    margin: 0 auto;
}



#message {
    font-weight: 1000;
    font-size: 60px;
}

button {
    width: auto;
    margin-top: 5%;
    line-height: 3em;
}

.guess {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    background-color: #68585d;
    width:fit-content;
    border-radius: 15px;
}

input {
    font-size: 40px;
    font-weight: 1000;
    color: white;
    width: 2em;
    border-radius: 15px;
    line-height: 2em;
    margin: 5px 5px;
    background-color: #615458;
    text-indent: 0.6em;
}

.letter:focus,
.letter:focus ~.letter {
    width: 2.1em;
    line-height: 2.1em;
    text-indent: 0.6em;
}