body {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #6e5c62;
}

#message {
    color: white;
    font-weight: 1000;
    font-size: 60px;
}

input {
    font-size: 40px;
    font-weight: 1000;
    color: white;
    width: 2em;
    border-radius: 15px;
    line-height: 2em;
    margin: 5px 5px;
    background-color: #615458;
    text-indent: 0.6em;
}